@font-face {
    font-family: Cher;
    src: url(fonts/cher-webfont.woff);
}

@font-face {
    font-family: Keybp;
    src: url(fonts/keybp___-webfont.woff);
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: #f6f2e8;
    background-image: url(assets/images/textures/back-pattern.png);
    background-repeat: repeat;
    background-size: auto;
    background-position: center;
}

.site-nav {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #dda4b0;
    display: flex;
    justify-content: center;
}

.site-nav-links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.site-nav-links li {
    margin-right: 24px;
}

.site-nav-links a {
    font-family: Cher;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 2px solid #ce5a79;
    margin: 0 8px 8px 0;
    font-size: 20px;
    color: #ce5a79;
}

.site-nav-links a:hover {
    border-bottom-color: #d26485;
    color:black;
}

h1 {
    margin-bottom: 0.5em;
    display: block;
    margin-inline-end: 0;
}

p {
    font-family: Keybp;
    font-size: 15px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

img {
    width: 30px;
}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px); /* Adjust the height to accommodate the footer */
    padding: 0 20px; /* Remove all padding */
}

.container-padding-vert-md {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensure it takes the full width */
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
    text-align: center; /* Center the text within the grid */
}


footer {
    text-align: center;
    width: 100%;
    background-color: #dda4b0;
    padding: 10px 0; /* Add padding for better spacing */
    position: relative; /* Change from absolute to relative */
}


/* .container-grid {
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
} */

.text-headline-1 {
    font-family: Keybp;
    font-weight: 300;
    color: black;
    font-size: 2.5rem;
    text-align: center;
}

.center-links {
    text-align: center;
}

/* button for viewing resume */
.button-primary { 
    background-color: transparent;
    color: #140609;
    border: 2px solid black;
    border-radius: 2px;
    display: inline-block; /* Make the button behave like an inline element */
    margin: 0; /* Reset margin */
    box-sizing: border-box;
    padding: 24px;
    text-align: center;
    text-decoration: none;
    transition: .2s all;
    font-family: Keybp; 
}

.green-button {
    border-color: black;
    color: black;
}

.green-button:hover {
    background-color: #72845e;
    color: white;
}

/* button for viewing projects */
.button-secondary { 
    background-color: transparent;
    color: #140609;
    border: 2px solid black;
    border-radius: 1px;
    display: inline-block; /* Make the button behave like an inline element */
    margin-top: 10px; /* Reset margin */
    box-sizing: border-box;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    transition: .2s all;
    font-family: Keybp; 
}

.white-button {
    border-color: black;
    color: black;
}

.white-button:hover {
    background-color: white;
    color: black;
}

.flex-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center horizontally */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* white-space: pre-wrap; */
    width: 80%; /* Adjust the width */
    max-width: 800px; /* Limit the maximum width */
    text-align: center; /* Center the text */
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 80vh; /* Limit the maximum height */
}

#about-text {
    font-size: 20px;
    margin-bottom: 10px; /* Add some space between the text and the image */
}

#index-header {
    font-size: 20px;
}

.index-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center horizontally */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: pre-wrap;
    width: 80%; /* Adjust the width */
    max-width: 600px; /* Limit the maximum width */
    text-align: center; /* Center the text */
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 80vh; /* Limit the maximum height */
}

#selfie {
    width: 400px;
}

/* Additional styles for the contact form */
.contact-form {
    background-color: #dfcaaf;
    padding: 30px;
    margin: auto;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

/* bottom text scroll from left to right */
.scroll-left {
    height: 50px;	
    overflow: hidden;
    position: relative;
    color: black;
   }
   .scroll-left p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    /* Apply animation to this element */	
    -moz-animation: scroll-left 15s linear infinite;
    -webkit-animation: scroll-left 15s linear infinite;
    animation: scroll-left 15s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes scroll-left {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes scroll-left {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes scroll-left {
    0%   { 
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%); 		
    }
    100% { 
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%); 
    }
   }
   
   .projects {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem; /* space between cards */
}

.project {
  background-color: #72845e; /* keep your green cards */
  padding: 2rem;
  border-radius: 8px;
  color: #fff;
  text-align: left;
  transition: transform 0.2s ease;
}


.projects h2 {
    margin-bottom: 10px;
    font-size: 1.5rem; /* Increase heading size for visibility */
}

.projects p {
    margin-bottom: 10px;
    line-height: 1.5; /* Improve readability */
}

.projects ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.projects li {
    margin-right: 10px;
    display: inline-block;
}
